<!-- templates/about/author.html -->
{% extends "base.html" %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
<div class="container py-5">
<h1>Привет, я автор</h1>
<br>
<p>
  Раз просят ссылку на ГитХаб, то вот вам 
  <a href="https://github.com/Gegins">ссылка на ГитХаб</a> 
</p>
<p>Вдохновляет меня желание учится. Люблю узнавать что-то 
    новое, и делится знаниями с окружающими. Возможно, 
    так я повышаю свою самооценку. В програмирование я 
    пошел, потому что надоело продавать, захотелось 
    что-то создавать. Раньше я думал, что "кодить" 
    это очень сложно, но с возрастом понял - что во 
    всем можно разобраться. Даже в электрике. Даже в 
    дизельных моторах. Даже в обработке дерева. Да, 
    даже в програмировании.</p>
<p>А в работе мне помогает мышка. Обычная безпроводная 
    мышь. Нежно-голубого цвета. Вроде черную заказывал, 
    а пришла голубая, и я решил, пусть будет талисманом 
    и пройдет со мной весь путь "грызения гранита науки", 
    мышь, ведь, грызун!</p>
<p>Хорошим тоном считается выложить фото кружки и рабочего 
    порядка, и я обязательно выложу, но попозже</p>
</div>
{% endblock %}